# Expo
.expo
expo-env.d.ts
app-example

# pnpm
package.json
pnpm-lock.yaml
node_modules

# Native modules
assets/**
ios/**
android/**

# IDE
.vscode

# Config
.eslintrc.js
tsconfig.json
app.json
eas.json
jestSetup.js

# Build
/dist/*

# Tests
e2e/**
coverage/